REACT_APP_SUPABASE_URL=ppfzqkpxwuotcdzqiufz
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwZnpxa3B4d3VvdGNkenFpdWZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxMTU0NzMsImV4cCI6MjA5ODY5MTQ3M30.2itYWYVKyhFMBGfnnGrF2etfzI1_jMVNR0kOis_8pVs
REACT_APP_DISCORD_BOT_INVITE=https://discord.com/oauth2/authorize?client_id=1522772626735628369&response_type=code&redirect_uri=https%3A%2F%2Ffitness-coach-dashboard.vercel.app&scope=identify+email
